/src/main/kotlin/top/harumill/getto/modules/Chat.kt
/src/main/kotlin/top/harumill/getto/modules/EroPic.kt
/src/main/kotlin/top/harumill/getto/modules/FlashCollect.kt
/src/main/kotlin/top/harumill/getto/modules/DragonBot.kt
/src/main/kotlin/top/harumill/getto/dragon/
/data/databases/
/data/dragon/
/data/voice/
/data/announcement.txt
/data/bb_tmp.html
/data/tmp/
/data/plugins/
/data/img/
/data/jsons/botInfo.json
/logs/
/src/test/kotlin/Subtest.kt
/src/test/kotlin/TestMain.kt
/device.json
/test.py
/cache/
